/**
 * CSS Verwaltung
 *
 * Farben:
 * #124773 - #224F91 - #008BAE - #5AA0CE Blau
 * #8EAC00 Grün
 * #F56225 Orange
 * #D1D1D1 Grau
 */


* { box-sizing:border-box; }

html,body{
	margin:0;
	padding:0;
}
body {
	font:14px/120% Arial, sans-serif;
}

a {
	color:#124773;
	text-decoration:none;
}
a:hover,
a:focus,
a:active {
	color:#5AA0CE;
}

input[type=text],
input[type=mail],
input[type=password] {
	border:1px solid #124773;
	padding:9px 10px;
	font:15px/20px Arial, sans-serif;
	color:#124773;
}
input[type=submit] {
	border:0 none;
	padding:9px 18px;
	font:15px/20px Arial, sans-serif;
	background-color:#124773;
	color:#fff;
}

.human{
	display: none;
}


.table-styled {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
.table-styled td {
	border-bottom:1px solid #5AA0CE;
	padding:9px;
}
.table-styled tr:first-child td {
	border-top:1px solid #5AA0CE;
}
.table-styled td.nopadding {
	padding:0;
}
.table-styled a.fill {
	display:block;
	width:100%;
	padding:9px;
}


/*******************************************************************
 * .user-on
 */

.user-on body {
	color:#333;
	background-color:#fff;
}
.user-on .sidebar {
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width:300px;
	color:#fff;
	background-color:#124773;
}
.user-on .sidebar a {
	color:#5AA0CE;
	text-decoration:none;
}
.user-on .sidebar a:hover,
.user-on .sidebar a:focus,
.user-on .sidebar a:active {
	color:#fff;
}
.user-on nav {
	margin:38px 0 18px 0;
}
.user-on nav ul,
.user-on nav li {
	list-style-type:none;
	margin:0;
	padding:0;
}
.user-on nav li a {
	display:block;
	width:100%;
	padding:9px 18px;
	line-height:20px;
	border-bottom:1px solid #5AA0CE;
}
.user-on nav li:first-child a {
	border-top:1px solid #5AA0CE;
}
.user-on nav li a:hover {
	background-color:#5AA0CE;
}
.user-on .content {
	padding-left:300px;
}

/* Medien */
table.media-list {
  width: 100%;
}
table.media-list td,th {
	background-color: #EEE;
    padding: 7px;
}
table.media-list td.media-list {
	text-align: right;
}
table.media-list tr input.media-list {
	text-align: right;
}


/*******************************************************************
 * .user-off
 */
 
.user-off body {
	color:#fff;
	background-color:#124773;
}
.user-off #logolink {
	display:block;
	text-align:center;
}
.user-off .content {
	margin:0 auto;
	width:300px;
}

.user-off a {
	color:#5AA0CE;
	text-decoration:none;
}
.user-off a:hover,
.user-off a:focus,
.user-off a:active {
	color:#fff;
}


.user-off input[type=text],
.user-off input[type=mail],
.user-off input[type=password] {
	border:1px solid #FFF;
	padding:9px 10px;
	font:15px/20px Arial, sans-serif;
	color:#FFF;
	width:100%;
	background-color: transparent;
}
.user-off input[type=submit] {
	border:0 none;
	padding:9px 18px;
	font:15px/20px Arial, sans-serif;
	background-color:#5AA0CE;
	color:#fff;
}

.user-off .table{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.user-off .table-cell{
	display:table-cell;
	vertical-align: top;
}
.user-off .table-cell.right{
	text-align:right;
}
.user-off .button{
	text-align:right;
}

.user-off .signup{
	border:0 none;
	padding:10px 18px;
	font:15px/20px Arial, sans-serif;
	background-color:#FFF;
	width:100%;
	display:inline-block;
	text-align: center;
	margin-top: 60px;
}
.user-off .signup:hover,
.user-off .signup:focus,
.user-off .signup:active {
	color: #5AA0CE;
}
.user-off input[type=submit].demo{
	padding:0;
	background-color: transparent;
	color:#5AA0CE;
}
.user-off #demologinform{
	display:none;
}

/* Curl */

div.curl{
  position:absolute;
  width:225px;height:150px;
  overflow:hidden;
  z-index:5;
}
div.curl:before{
  position:absolute;
  bottom:-39px;
  left: 40px;
  display:block;
  content:"";
  transform: rotate(316deg);
  background: #124773;
  width:350px;height:150px;
  z-index: 15;
}
div.curl:after{
  position:absolute;
  bottom: -140px;
  left: -75px;
  display:block;
  content:"";
  border-radius: 50%;
  background: #124773;
  width:150px;height:200px;
  box-shadow:         inset 0 0 13px #000000;
  z-index: 15;
}
div.curlcut{
  position:absolute;
  width:300px;height:200px;
  z-index: 10;
  top:0px;  
	background: -moz-linear-gradient(-45deg,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 30%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 70%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(30%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(70%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 30%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 70%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 30%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 70%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 30%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 70%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
	background: linear-gradient(165deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 30%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 70%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
div.curlcut:before{
  position:absolute;
  top:-112px;
  left: -60px;
  display:block;
  content:"";
  transform: rotate(338.3deg);
  background: #FFF;
  width:350px;height:150px;
  z-index: 15;   
}
div.curltext{
  position:absolute;
  top:9px;left:9px;
  background-color: transparent;
  width:150px;height:75px;
  color:#5AA0CE;
  z-index:20;
}
a.linkcurl{
	position:absolute;
	display:inline-block;
}
