* { box-sizing:border-box; }

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font:14px/120% Arial, sans-serif;
}

a {
	color:#124773;
}
a:hover,
a:focus,
a:active {
	color:#333;
}

.human {display:none;}


.img-protect {position:relative;}
.img-protect:after {
	content:'';
	display:inline-block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}


.grid {
	display:table;
	table-layout:fixed;
	width:100%;
}
.grid-col {
	display:table-cell;
}


.container {
	max-width:980px;
	margin:0 auto;
}



header {
	position:relative;
	height:100px;
	border-bottom:1px solid #efefef;
}
header .container {
	position:relative;
	height:100%;
}
header .logo {
	height:100%;
	width:200px;
	margin-right:18px;
	float:left;
}

header nav {
	float:left;
}
header nav ul,
header nav li {
	margin:0;
	padding:0;
	list-style-type:none;
	display:inline-block;
}
header nav a {
	display:inline-block;
	margin-top:18px;
	padding:18px 12px;
	font-size:16px;
	line-height:25px;
	color:#5AA0CE;
	text-decoration:none;
}

header .login-btn {
	position:absolute;
	top:36px;
	right:0;
	display:inline-block;
	border:1px solid #5AA0CE;
	padding:5px 18px;
	line-height:18px;
	border-radius:6px;
	color:#5AA0CE;
	text-decoration:none;
}
header .login-btn:hover {
	background-color:#5AA0CE;
	color:#fff;
}


main {

}
main section {
	padding:50px 0;
}
main section.s1 {
	height:350px;
	text-align:center;
}
main section.s1 h1 {
	display:inline-block;
	text-align:left;
	font:italic bold 38px/35px Arial, sans-serif;
	color:#5AA0CE;
}
main section.s1 .claim {
	color:#808080;
}

main section.s2 h2 {
	text-transform:uppercase;
	text-align:center;
	margin-bottom:50px;
	color:#5AA0CE;
}

main section.s3 h2 {
	text-transform:uppercase;
	text-align:center;
	margin-bottom:50px;
	color:#5AA0CE;
}
.person {
	text-align:center;
}
.person .foto,
.person .foto img {
	display:inline-block;
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:#efefef;
}
.person .info .descr {
	color:#d1d1d1;
}

main section.s4 h2 {
	text-transform:uppercase;
	text-align:center;
	margin-bottom:50px;
	color:#5AA0CE;
}
main section.s4 form {
	display:block;
	margin:0 auto;
	width:400px;
}
main section.s4 input[type=text],
main section.s4 input[type=email],
main section.s4 input[type=submit],
main section.s4 textarea {
	margin:9px 0;
	border:1px solid #d1d1d1;
	padding:9px 9px;
	font:14px/18px Arial, sans-serif;
}
main section.s4 input[type=text],
main section.s4 input[type=email] {
	width:60%;
}
main section.s4 textarea {
	width:100%;
	min-height:9.5em;
	resize:vertical;
}
main section.s4 .control-submit {
	text-align:right;
}
main section.s4 input[type=submit] {
	padding:9px 27px;
	background-color:#d1d1d1;
}





footer {
	background-color:#d1d1d1;
	padding:40px 18px;
	text-align:center;
}
footer .fnav {
	margin-bottom:18px;

}
footer .fnav a {
	display:inline-block;
	padding:9px;
	color:gray;
}
footer .fnav a:hover,
footer .fnav a:focus,
footer .fnav a:active {
	color:#333;
	text-decoration:none;
}
footer .copyright {
	font-size:12px;
	color:gray;
}







